.pagination {
    display: flex;
    gap: 25px;
    margin: 25px 0;
    align-items: center;
}

.pagination button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #42D325;
    color: white;
}